################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CadastroCliente/FileContentIndex/1f061e7a-fef4-4e71-bb06-cf22c3255b97.vsidx
/.vs/CadastroCliente/FileContentIndex/read.lock
